
.resetpassword{
    position: absolute;
    margin-top: 65px;
    left: 10%;
    width: 70%;
  
}
@media only screen and (max-width: 1224px) {
    .resetpassword{
        position: absolute;
        margin-top: 65px;
        left: 20%;
      
    }
   
  }